<div class="login-signup-links josefin demo user-login">
  <%= link_to "Login", login_path %>/<%= link_to "Sign up", new_user_registration_path %>
</div>

<div class="container">
  <div class="header user-header">
    <span class="title">Spherelink</span>
  </div>

  <div class="viewer">
    <%= render "shared/memory_application", hideNavBar: true, style: "width: 100%; height: 600px;" %>
  </div>

  <div class="josefin description show-description">
    Spherelink is a tool for capturing your most cherished memories
  </div>
</div>