<div class="demo user-login">
  <% if !user_signed_in? %>
    <%= link_to "Login", login_path %>/<%= link_to "Sign up", new_user_registration_path %>
  <% else %>
    <%= link_to "Back to memories", memories_path, class: "josefin" %>
  <% end %>
</div>

<div class="smaller-container container">
  <div class="header user-header about-spherelink">
    <span class="title">About Spherelink</span>
  </div>

  <div class="video-content">
    <div class="why vid-section">
      <h3>What is Spherelink?</h3>
      <div class="video">
        <iframe height="315" src="https://www.youtube.com/embed/WnWfWfNadxE?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>

    <div class="phone vid-section">
      <h3>How to take photospheres on a smartphone</h3>
      <div class="video">
        <iframe height="315" src="https://www.youtube.com/embed/xDd8VKOLedQ?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>

    <div class="how-to vid-section">
      <h3>How to use Spherelink</h3>
      <div class="video">
        <iframe height="315" src="https://www.youtube.com/embed/N7mXBdp1Bvs?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/feedback" %>