<div class="container">
  <div class="viewer">
    <%= render "shared/memory_application", hideNavBar: true %>
  </div>

  <div class="josefin description show-description">
    Spherelink is a tool for capturing your most cherished memories
  </div>
</div>