<%#= render 'three_examples' %>

<div id="photosphere"></div>
<script>
  new PhotoSphereViewer({
    panorama: '/marina',
    container: 'photosphere',
    loading_img: 'http://photo-sphere-viewer.js.org/assets/photosphere-logo.gif',
    navbar: 'autorotate zoom download caption fullscreen',
    default_fov: 44,
    mousewheel: false,
    size: {
      height: 600
    }
  });
</script>
