<div class="container">
  <h1>Your Memories</h1>
  <div class="top-links">
    <%= link_to 'Create a memory', new_memory_path %>
    <%= link_to 'Edit profile', edit_user_registration_path, class: 'edit-profile' %>
  </div>

  <ul class="memory-list">
    <%= render @memories %>
  </ul>

  <%= will_paginate(@memories) %>
</div>
