<div class="container">
  <div class="header user-header">
    <span class="title"><%= @memory.name %></span>
  </div>

  <div class="sphere-select-view sphere-select-row-flex"></div>

  <div class="viewer">
    <%= render "shared/memory_application" %>
  </div>

  <div class="josefin description show-description">
    <%= @memory.description %>
  </div>
</div>