<%= render "shared/memory_application_crums" %>

<div id="photosphere" style="<%= style %>"></div>
<script>
  var editMemoryApplication = new EditMemoryApplication({
    memory: <%= @memory_json.to_s.html_safe %>,
    sphereNum: 0
  });

  editMemoryApplication.start();
</script>
