<%= render 'shared/patterns' %>

<div id="photosphere" style="<%= style %>"></div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    new EditMemoryApplication({
      memory: <%= @memory_json.to_s.html_safe %>,
      sphereNum: 0
    }).start();
  });
</script>
