<div class="container">
  <h1>Your Memories</h1>
  <ul class="memory-list">
    <%= render @memories %>
  </ul>
  <div class="bottom-links">
    <%= link_to 'Create a memory', new_memory_path, class: 'create-a-memory' %>
    <%= link_to 'Log out', logout_path, method: 'delete', class: 'logout' %>
  </div>
</div>
