<%= render "shared/memory_application_crums" %>
<% editMode = false if editMode.nil? %>

<div id="photosphere" style="<%= style %>"></div>
<script>
  var memoryApplication = new MemoryApplication({
    memory: <%= @memory_json.to_s.html_safe %>,
    sphereNum: 0,
    editMode: <%= editMode %>
  });
  memoryApplication.start();
</script>
