<%= render "shared/memory_application_crums" %>

<div id="photosphere"></div>
<script>
  var memoryApplication = new MemoryApplication({
    memory: <%= @memory_json.to_s.html_safe %>,
    sphereNum: 0
  });
  memoryApplication.start();
</script>
