<div id="photosphere"></div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    new MemoryApplication({
      memory: <%= @memory_json.to_s.html_safe %>,
      sphereNum: 0
    }).start()
  });
</script>
