<div class="saudade-container">
  <div class="header">
    <span class="title">Saudade</span><span class="phonetics">(souˈdädə):</span>
  </div>

  <%= link_to "Login", login_path, class: "login-saudade josefin demo" %>

  <div class="preview">
    <%= render "shared/memory_application", hideNavBar: true %>
  </div>
  <div class="josefin description">
    Saudade is the recollection of feelings, experiences, places, or events that once brought excitement,<br>
    pleasure, well-being, which now triggers the senses and makes one live again. It can be described as an emptiness,<br>
    like someone or something that should be there in a particular moment is missing,<br>
    and the individual feels this absence.
  </div>
</div>
<%= link_to "Create your own", signup_path, class: "create-saudade josefin demo" %>
