class SpinnerView
  constructor: (id) ->
    @id = id

  template: ->
    """
      <div id="spinner-#{@id}" class="sphere-item-view spinner">
        <%= image_tag('spinner') %>
        <div class="status-text">Uploading...</div>
      </div>
    """

  render: ->
    @template()

  showProgress: (id) ->
    $("#spinner-#{id} .status-text").text("Processing...")

  hideProgress: (id) ->
    $("#spinner-#{id} .status-text").hide()

window.SpinnerView = SpinnerView
