class SpinnerView
  constructor: (id, className) ->
    @id = id
    @className = className

  template: ->
    """
      <div id="spinner-#{@id}" class="#{@className} spinner">
        <%= image_tag('spinner') %>
        <div class="status-text">Uploading...</div>
      </div>
    """

  render: ->
    @template()

  showProgress: (id) ->
    $("#spinner-#{id} .status-text").text("Processing...")

  hideProgress: (id) ->
    $("#spinner-#{id} .status-text").hide()

window.SpinnerView = SpinnerView
