<li>
  <div class="tipsy-header">
    <h3>Portals <a id="portal-tipsy" class="tipsy-link">(?)</a></h3>
  </div>
  <p class="delete-portal-explanation" hidden>Click a portal to delete it</p>

  <%= select_tag 'to_sphere_id', nil, hidden: true %>
  <%= text_field_tag 'portal_caption', nil, placeholder: 'Portal caption', hidden: true %>
  <button id="start-portal" class="btn btn-primary">Add</button>
  <button id="save-portal" class="btn btn-success" disabled>Save</button>
  <button id="reset-portal" class="btn btn-warning" disabled>Reset</button>
  <button id="delete-portal" class="btn btn-danger">Delete</button>
</li>
