<li class="zoom-view">
  <h3>Initial Zoom Level</h3>

  <input
    id="default_zoom"
    data-slider-id='defaultZoomSlider'
    type="text"
    data-slider-min="0"
    data-slider-max="100"
    data-slider-step="1"
    data-slider-value="50"
  />
</li>
