.video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vid-section {
  padding-bottom: 20px;
  width: 100%;

  .video {
    iframe {
      width: 100%;
    }
  }
}

.about-spherelink {
  margin-bottom: 10px;
}