@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$side-padding: 30px;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.alert {
  top: 0;
  float: left;
  position: absolute;
}

.memories-link {
  font-size: 22px;
  color: #696969;
  padding-top: 15px;

  position: absolute;
  right: 0px;

  &:hover { text-decoration: none; color: #337ab7;}
}

a.demo {
  position: absolute;

  font-size: 22px;
  color: #696969;

  &:hover { text-decoration: none; color: #337ab7;}
}

.user-login {
  top: 0;
  right: 0;
}

.login-saudade {
  left: 1084px;
  top: 47.2px;
  transform: rotateZ(336.4deg);
}

p, .josefin {
  font-family: 'Lora', serif;
}

.demo-header {
  margin-bottom: 1px;
  text-align: left;
  padding-left: 35%;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .title {
    padding-right: 4px;
  }

  .phonetics {
    font-size: 36px;
    font-style: italic;
    padding-top: 4.4px;
  }
}

.header {
  font-family: 'Istok Web', sans-serif;
  padding-top: 18px;
  color: #696969;

  .title {
    font-size: 3rem;
    padding-right: 4px;
  }
}

.profile-saudade {
  position: fixed;
  bottom: 0;
  right: 0;
}

.user-header {
  margin: 0 auto;
  text-align: center;
  margin-bottom: -10px;
}

.description {
  text-align: center;
  font-size: 18px;
  color: #4f4f4f;
  transform: perspective(267px) rotateX(24.2deg);
}

.demo-description {
  padding: 69px 12% 0 0;
  margin-top: 8px;
}

.demo-viewer {
  margin: auto;
  width: 79%;
}

.viewer {
  width: 100%;
}

.link-viewer {
  flex-grow: 200;
  flex-shrink: 2;
  height: 500px;
  padding-right: $side-padding;
}

.link-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-sphere-header {
  text-align: left;
  margin-bottom: 0;
}

.finishing-touches {
  list-style: none;
  li h2 {
    margin-bottom: 10px;
    text-align: left;
  }

  padding-left: 0px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* universal */

.black-background {
  background: black;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Istok Web', sans-serif;
}

label, .btn {
  font-family: 'Lora', serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* forms */

.private-checkbox {
  input {
    width: initial;
  }
}

.add-sphere {
  input[type="file"] {
    width: initial;
    line-height: 10px;
    border: none;
  }
}

.memories-list {
  list-style: none
}

.create-sphere {
  margin: 20px 0 20px 0;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.zero-height {
  height: 0px;
}

.add-sphere-view {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.sphere-item-view {
  width: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6px;

  .caption {
    font-size: 1em;
    text-align: center;
    margin-bottom: 0px;
  }

  .delete-sphere {
    position: absolute;
    color: white;
    right: 13px;
    top: 5px;
    cursor: pointer;
    font-size: 14px;
  }
}

.tipsy-link {
  font-size: 12px;
  &:hover, &:active, &:visited, &:focus {
    text-decoration: none;
    cursor: pointer;
  }
}

.tipsy {
  p {
    color: white;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.new_memory, .edit_memory {
  #error_explanation {
    .alert {
      position: relative;
      float: none;
    }
  }
}


.show-description {
  padding-top: 15px;
}

#marker_content {
  display: none;
  border: 1px solid #ccc;
  height: 207px;
  margin-bottom: 23px;
  overflow: scroll;
}

ul.wysihtml5-toolbar.wysihtml5-toolbar {
  display: none;
}

.psv-panel-content {
  h1, h2, h3, h4, h5, h6, p {
    color: #A8A8A8;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.add-sphere-link {
  margin: 0 10px 0 10px;
  text-align: center;
  vertical-align: middle;

  .add-button {
    cursor: pointer;
    border: 1px solid #ccc;
    width: 80px;
    height: 80px;

    .glyphicon {
      color: #ccc;
      display: inline-block;
      top: 30px;
      position: relative;
    }
  }

  .add-form {
    display: none;
    width: 203px;

    input[type=file] {
      line-height: 0;
    }

    .form-group {
      margin-bottom: 2px;
    }

    .sphere-file {
      margin-bottom: 0;
    }

    .sphere-caption {
      margin-bottom: 2px;
    }

    .actions button {
      padding: 3px 12px;
      height: 27px;
    }
  }
}

.move-left {
  margin-right: 8px;
}

.psv-navbar.psv-navbar.psv-navbar {
  display: inline-block;

  .full-screen {
    float: right;
  }
}

.devise-page {
  width: 40%;
  margin: auto;
}

.status-text {
  padding: 1px 0 0 11px;
  color: #696969;
  font-size: 1em;
}


.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.actions {
  input[type=submit] {
    margin-bottom: 10px;
  }
}

.remember-me {
  display: flex;

  input[type=checkbox] {
    width: initial;
  }

  label {
    padding-left: 7px;
    line-height: 18px;
  }
}

.title-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title-input, #description-input {
  display: none;
  text-align: center;
}

#title-input {
  width: 100%;
  height: 40px;
}

#description-input {
  height: 100px;
}

.description-widget, .title-widget {
  width: 100%;
}

#title, #description {
  text-align: center;
  cursor: pointer;
}

.small-spinner {
  padding-bottom: 10px;

  img {
    width: 60px;
  }
}

.privacy-widget {
  align-self: left;
}

.private, .public {
  cursor: pointer;
  user-select: none;
  margin-top: 18px;
}

.sphere-select-view {
  display: flex;
  flex-direction: column;
}

.edit-row {
  display: flex;
  flex-wrap: wrap;
}

.edit-widgets {
  padding-top: 10px;
  flex-grow: 1;
}

.edit-widget {
  width: 263px;
}

.wysihtml5-toolbar {
  .btn-group {
    width: 263px;
  }
}

.zoom-view {
  .slider.slider-horizontal {
    width: 260px;
  }
}

.left-pad-row {
  padding-left: $side-padding;
}

.right-pad-row {
  padding-right: $side-padding;
}

.bottom-links {
  padding-bottom: 15px;
}

.fix-bottom {
  bottom: 0;
}