.memory-list {
  list-style-type: none;
  padding: 0;
}

.memory-item-view {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin: 8px;
}

h1, h3, p {
  color: #696969;
}

.logout {
  float: right;
}
