$font-color: #696969;

nav {
  display: flex;

  &.navbar {
    margin-bottom: 0;
  }

  .icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  .title {
    display: flex;
    margin-right: auto;
    font-family: 'Istok Web', sans-serif;
    font-size: 30px;
    color: $font-color;
  }
}


.nav-item {
  padding: 0.5rem;
}

.bar-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}